nav .logo1 img{
    border: 0;
    max-width: 70px;
    max-height: 70px;      
}
body{
    text-align: center;
    align-items: center;
    background-color: #085a0c;
}
nav{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #4faa4e;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    background: #000000;
}
nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 1090px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: absolute;
        top: 80px;
        left:  -100%;
        background-color: #085a0c;
        height:  100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left:0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #eb009c
    }
}
img{
    border: 10px solid #ffebcd;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: tranform .5s linear;
}
img{  
    
        width: 100%;
        max-width: 1000px;
        height: auto;
        align-items: center;  
}
a{
    text-decoration: dotted;
    color: #000000;
}
main{
width: 92%;
    right: 1200;
    margin: 0px auto;
    background-color:#ffebcd;
    padding: 2em;
    border: 2px solid #dfdfdf;
    align-items: center;
    border-left: 100px;
}
